# AWS接続後にCloudFormation Outputsの値を設定します。
NEXT_PUBLIC_TRIPCHECK_API_URL=https://mnyheiadjf.execute-api.ap-northeast-1.amazonaws.com
NEXT_PUBLIC_AWS_REGION=ap-northeast-1
NEXT_PUBLIC_COGNITO_USER_POOL_ID=ap-northeast-1_y0S4oRa5x
NEXT_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=6bjh91hmqbsu7bcjfjk44b8v21

# AWS未接続時はtrueのままにします。
NEXT_PUBLIC_USE_MOCK_API=true
