# AWS接続後にCloudFormation Outputsの値を設定します。
NEXT_PUBLIC_TRIPCHECK_API_URL=
NEXT_PUBLIC_AWS_REGION=ap-northeast-1
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=

# AWS未接続時はtrueのままにします。
NEXT_PUBLIC_USE_MOCK_API=true
